#main {
    color: red;
}
.text {
    color: blue;
}
.scroll-Y {
    height: 300rpx;
}
.scroll-view_H {
    white-space: nowrap;
    width: 100%;
}
.scroll-view-item {
    height: 300rpx;
    line-height: 300rpx;
    text-align: center;
    font-size: 36rpx;
}
.scroll-view-item_H {
    display: inline-block;
    width: 100%;
    height: 300rpx;
    line-height: 300rpx;
    text-align: center;
    font-size: 36rpx;
}
#demo1 {
    background-color: red;
}
#demo2 {
    background-color: blue;
}
#demo3 {
    background-color: pink;
}

.scroll-view-item_H {
    display: inline-block;
    width: 100%;
    height: 300rpx;
    line-height: 300rpx;
    text-align: center;
    font-size: 36rpx;
}

.scroll-view_H {
    white-space: nowrap;
    width: 100%;
}

.uni-margin-wrap {
    width: 690rpx;
    width: 100%;
}
.swiper {
    height: 300rpx;
}
.swiper-item {
    display: block;
    height: 300rpx;
    line-height: 300rpx;
    text-align: center;
}
.swiper-list {
    margin-top: 40rpx;
    margin-bottom: 0;
}
.uni-common-mt {
    margin-top: 60rpx;
    position: relative;
}
.info {
    position: absolute;
    right: 20rpx;
}
.uni-padding-wrap {
    width: 550rpx;
    padding: 0 100rpx;
}
.weui-input {
    border: 1px solid red;
}
